tbody tr:hover {
  background-color: #e4ffd5 !important;

  td {
    color: blue;
    font-weight: bold;
  }
}

.icons2 {
  width: 70px !important;
}

.icon3 {
  width: 80px !important;
}

.icon4 {
  width: 110px !important;
}


.border-row-custom {
  border-bottom: 1px solid #d9d4d4 !important;
}